.absolute {
  position: absolute
}

.bottom-0 {
  bottom: 0px
}

.m-16 {
  margin: 4rem
}

.m-20 {
  margin: 5rem
}

.m-2 {
  margin: 0.5rem
}

.m-4 {
  margin: 1rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mt-20 {
  margin-top: 5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.flex {
  display: flex
}

.h-52 {
  height: 13rem
}

.h-24 {
  height: 6rem
}

.h-10 {
  height: 2.5rem
}

.h-6 {
  height: 1.5rem
}

.w-full {
  width: 100%
}

.w-24 {
  width: 6rem
}

.w-10 {
  width: 2.5rem
}

.w-96 {
  width: 24rem
}

.w-6 {
  width: 1.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.self-center {
  align-self: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border-2 {
  border-width: 2px
}

.border-0 {
  border-width: 0px
}

.border-sky-500 {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity))
}

.border-red-600 {
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity))
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.bg-sky-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-5 {
  padding: 1.25rem
}

.p-0 {
  padding: 0px
}

.p-4 {
  padding: 1rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.pr-3 {
  padding-right: 0.75rem
}

.pt-4 {
  padding-top: 1rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pb-24 {
  padding-bottom: 6rem
}

.pb-8 {
  padding-bottom: 2rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-current {
  color: currentColor
}

.text-slate-50 {
  --tw-text-opacity: 1;
  color: rgb(248 250 252 / var(--tw-text-opacity))
}

.text-amber-500 {
  --tw-text-opacity: 1;
  color: rgb(245 158 11 / var(--tw-text-opacity))
}

.text-sky-500 {
  --tw-text-opacity: 1;
  color: rgb(14 165 233 / var(--tw-text-opacity))
}
